.section-contact {
    .inner-section {
        margin: 8rem 0;
        .section-contact-side-link {
            padding-right: 1.5rem;
            h4 {
                font-size: 1.8rem;
                text-transform: uppercase;
            }
            .h4-co {
                margin-bottom: 2rem;
            }
            p {
                font-size: var(--general-font-size);
            }
            ul {
                list-style: none;
                padding: 1.3rem 0;
                margin-bottom: 2rem;
                li {
                    padding: 1rem 0;
                    font-size: var(--general-font-size);
                    .contact-icon {
                        height: 2.4rem;
                        width: 2.4rem;
                        margin-top: -0.5rem;
                        vertical-align: middle;
                    }
                }
            }
            .social-links-cont {
                ul {
                    display: flex;
                    gap: 2rem;
                }
                li {
                    .cont-social-icons {
                        height: 2.4rem;
                        width: 2.4rem;
                        color: red;
                    }
                }
            }
        }
        .contact-form {
            margin-top: 0.5rem;
            background-color: #fff;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            padding: 3rem;
            form {
                display: flex;
                gap: 3rem;
                flex-direction: column;
                input[type="text"],
                input[type="email"] {
                    border: 1px solid #666;
                    padding: 1rem;
                    border-radius: 5px;
                }
                textarea {
                    border: 1px solid #666;
                    padding: 0.5rem;
                    border-radius: 5px;
                }
                button {
                    width: 30%;
                    padding: 1rem;
                    color: #fff;
                    background-color: #ff4500;
                    cursor: pointer;
                    font-size: var(--general-font-size);
                    border-radius: 5px;
                    font-weight: 500;
                    transition: all 1s;
                    .btn-icon {
                        height: 2rem;
                        width: 2rem;
                        vertical-align: middle;
                        margin-left: 1rem;
                    }
                }
                button:hover {
                    background-color: #d25021;
                }
            }
        }
    }
}