nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 4%;
    position: fixed;
    //background-color: rgba(0, 0, 0, 0.564);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 5px 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    transition: 0.2s ease;
}

nav .mainMenu li a:hover {
    color: #ff4500;
}

nav .openMenu {
    font-size: 2.4rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #fff;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2.4rem;
    display: none;
    cursor: pointer;
    color: #fff;
}

.header .logo img {
    height: 6rem;
}

nav.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.795);
}